Repository jonper-dev/idg2001_social_networking_service, pull requests merged in 2025-04, with the labels that each got.

#9 Server branch
  app/config.py
  app/main.py
  app/render.yaml
  documentation/dev-steps.md
  requirements.txt
Labels: database, server

#11 Route branch
  app/crud.py
  app/routes/posts.py
  app/routes/users.py
Labels: enhancement, controllers, back-end

#12 Crud branch
  app/crud.py
  app/models/models.py
Labels: controllers, back-end

#13 Server branch - Changed server setup to SQLAlchemy with ORMh
  app/config.py
  app/main.py
  app/server-connection.py
Labels: database, server, back-end

#14 More fixes from tweet to post in models.py
  app/models/models.py
Labels: controllers, back-end

#15 Added all routes to main, partial post-update
  app/crud.py
  app/main.py
  app/models/models.py
Labels: controllers, back-end

#17 Update on the frontend: HTML, style, js.
  frontend/index.html
  frontend/script.js
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: enhancement, front-end

#18 Server branch
  app/crud.py
  app/db.py
  app/main.py
  app/models/__init__.py
  app/routes/posts.py
  app/routes/users.py
Labels: database, server, back-end

#19 Logo design
  frontend/assets/cheeper-logo-blue-gradient_1.svg
  frontend/assets/cheeper-logo-blue.svg
  frontend/assets/cheeper-logo-white.svg
Labels: front-end

#20 Dividing posts and login/signup
  frontend/login_signup.html
  frontend/post.html
Labels: front-end

#22 Database setup, further route setup, updated requirements
  app/crud.py
  app/main.py
  app/models/models.py
  app/routes/users.py
  app/setup/__init__.py
  app/setup/create_tables.py
  requirements.txt
  run_create_tables.py
  test_db-connection.py
Labels: documentation, enhancement, controllers, database, back-end

#23 Small fixes
  frontend/login_signup.html
  frontend/post.html
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: front-end

#26 Added middleware CORS to be able to connect backend with front-end
  app/main.py
Labels: server, back-end

#25 Made some changes to front-end
  frontend/assets/cheeper-logo-blue-gradient.svg
  frontend/login_signup.html
  frontend/post.html
  frontend/script.js
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: front-end

#24 Post creation mostly fixed
  app/crud.py
  app/models/models.py
  app/routes/posts.py
Labels: controllers, database, back-end

#27 Added authentication routes for front end
  app/crud.py
  app/main.py
  app/routes/auth_routes.py
  requirements.txt
Labels: enhancement, controllers, server

#28 Added DELETE-methods and improved PUT-/PATCH-methods
  app/crud.py
  app/models/models.py
  app/routes/posts.py
  app/routes/users.py
Labels: enhancement, controllers, server, back-end

#29 Python multipart
  app/routes/auth_routes.py
  requirements.txt
Labels: front-end, server, back-end

#31 Email validator dependency
  requirements.txt
Labels: authentication

#32 fixed path issues to model from auth_routes
  app/routes/auth_routes.py
Labels: server, back-end, authentication

#33 Frontend updates
  frontend/login_signup.html
  frontend/post.html
  frontend/script.js
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: enhancement, front-end

#34 Fixed wrong userdata in auth_routes.py
  app/routes/auth_routes.py
Labels: server, back-end, authentication

#36 Added local-caching, username-handling, singup-fix, etc.
  app/crud.py
  app/models/models.py
  app/routes/posts.py
  frontend/index.html
  frontend/local-caching.js
  frontend/login_signup.html
  frontend/script.js
Labels: enhancement, controllers, front-end, server, back-end

#37 Report
  app/config.py
  app/main.py
  documentation/images/db-config.jpg
  documentation/images/fastAPI.jpg
  documentation/images/sqlalchemy-engine.jpg
  documentation/images/sqlalchemy.jpg
  documentation/report.md
Labels: documentation

#38 Modular scripts, new CORS-origin
  app/main.py
  frontend/frontend-scripts/local-caching.js
  frontend/frontend-scripts/script.js
  frontend/index.html
  frontend/login_signup.html
Labels: front-end, server, back-end

#40 Added like button
  app/routes/posts.py
  frontend/frontend-scripts/script.js
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: enhancement, front-end

#42 Fixed login/logout with username, buttons, banner
  app/routes/auth_routes.py
  frontend/frontend-scripts/script.js
  frontend/index.html
  frontend/login_signup.html
Labels: enhancement, front-end, server, back-end, authentication

#43 Documentation branch
  documentation/dev-steps.md
  documentation/images/create-post-request-body.jpg
  documentation/images/login-request-body.png
  documentation/images/signup-request-body.jpg
  documentation/report.md
  requirements.txt
Labels: documentation

#44 Quick fix to partial_update_post
  app/routes/posts.py
Labels: server, back-end

#45 authMsg fix
  frontend/frontend-scripts/script.js
Labels: enhancement, front-end

#46 Reworked like btn logic
  frontend/frontend-scripts/script.js
Labels: enhancement, front-end

#47 Like btn edit
  frontend/frontend-scripts/script.js
Labels: front-end

#48 Search bar
  frontend/frontend-scripts/script.js
  frontend/index.html
  frontend/login_signup.html
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: enhancement, front-end

#49 Restructured report, wrote about features
  documentation/report.md
Labels: documentation, enhancement

#50 Like functionality in backend
  app/crud.py
  app/models/models.py
  app/routes/auth_routes.py
  app/routes/posts.py
Labels: front-end, back-end, authentication

#51 Route branch
  app/routes/posts.py
Labels: server, back-end

#52 Route branch
  app/routes/posts.py
Labels: back-end

#53 Persistent logout message and lightmode/darkmode
  frontend/frontend-scripts/script.js
  frontend/index.html
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: enhancement, front-end

#54 Posting works, no erroneous "post failed"-message
  frontend/frontend-scripts/script.js
  frontend/index.html
Labels: enhancement, front-end, server

#55 Fixes on like post backend
  app/routes/auth_routes.py
  app/routes/posts.py
  app/session.py
Labels: back-end

#56 Searchbar is now accessible
  frontend/index.html
  frontend/login_signup.html
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: front-end

#57 Fixed signup, partial fix to likes
  frontend/frontend-scripts/script.js
  frontend/login_signup.html
Labels: enhancement, front-end, server, authentication

#58 Route branch
  app/routes/auth_routes.py
  app/routes/posts.py
Labels: back-end

#59 Searchbar func
  frontend/frontend-scripts/script.js
Labels: front-end

#60 Likes- and sessions-work, post-backend improvements
  app/crud.py
  app/models/models.py
  app/routes/auth_routes.py
  app/routes/posts.py
  app/session.py
  frontend/frontend-scripts/script.js
Labels: enhancement, controllers, front-end, server, back-end, authentication

#61 Imported likes_table as likes in crud.py
  app/crud.py
Labels: controllers, server, back-end
