Repository jonper-dev/idg2001_social_networking_service, pull requests merged in 2025-05, with the labels that each got.

#64 Crud branch
  app/crud.py
Labels: back-end

#65 Likes fixing, better sessions
  app/crud.py
  app/models/models.py
  app/routes/auth_routes.py
  app/routes/posts.py
  app/session.py
  frontend/frontend-scripts/script.js
Labels: enhancement, controllers, front-end, server, back-end, authentication

#66 Route branch
  app/routes/posts.py
Labels: controllers, back-end

#67 Offline post-display, better logout, route fixes
  app/routes/auth_routes.py
  app/routes/posts.py
  app/routes/users.py
  frontend/frontend-scripts/script.js
Labels: enhancement, front-end, back-end, authentication

#68 Improvements in crud.py and added search route
  app/crud.py
  app/routes/posts.py
Labels: documentation, controllers, back-end

#69 Updated Search Function
  app/main.py
  frontend/frontend-scripts/script.js
  frontend/index.html
  frontend/login_signup.html
Labels: documentation, front-end

#71 Extra requirements-file, new route, cleaner routes
  app/dependencies/auth.py
  app/main.py
  app/routes/auth_routes.py
  app/routes/posts.py
  app/routes/users.py
  requirements-full.txt
Labels: enhancement, controllers, server, back-end, authentication

#70 Profile development
  .dockerignore
  Dockerfile
  app/main.py
  app/routes/auth_routes.py
  docker-compose.yaml
  frontend/assets/profile-icon-blue.svg
  frontend/assets/profile-icon.svg
  frontend/frontend-scripts/profile.js
  frontend/frontend-scripts/script.js
  frontend/index.html
  frontend/login_signup.html
  frontend/profile.html
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: front-end, server, back-end, authentication

#72 Frontend branch
  app/crud.py
  app/models/models.py
  app/routes/auth_routes.py
  app/routes/posts.py
  app/routes/users.py
  app/schemas/schemas.py
  documentation/progress-notes.md
  frontend/frontend-scripts/local-caching.js
  frontend/frontend-scripts/main-page.js
  frontend/frontend-scripts/profile.js
  frontend/frontend-scripts/shared.js
  frontend/index.html
  frontend/login_signup.html
  frontend/profile.html
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
Labels: front-end, back-end

#74 Create post fix
  app/crud.py
  frontend/frontend-scripts/main-page.js
Labels: front-end, back-end

#75 Frontend improvements (Missing profile styling)
  frontend/frontend-scripts/shared.js
  frontend/index.html
  frontend/login_signup.html
  frontend/profile.html
  frontend/search_results.html
  frontend/style.css
  frontend/style.css.map
  frontend/style.scss
  frontend/styles/profile.scss
  frontend/styles/style.css
  frontend/styles/style.css.map
  frontend/styles/style.scss
Labels: bug, documentation, enhancement, front-end

#76 Implemented post-sorting system
  frontend/frontend-scripts/main-page.js
  frontend/index.html
Labels: enhancement, front-end

#77 Added forgotten theme-toggle
  frontend/profile.html
  frontend/search_results.html
Labels: front-end

#78 Hashtag fix
  app/crud.py
  app/schemas/schemas.py
  frontend/frontend-scripts/search_results.js
Labels: controllers, front-end, back-end

#79 Frontend styling
  frontend/frontend-scripts/main-page.js
  frontend/profile.html
  frontend/search_results.html
  frontend/styles/profile.scss
  frontend/styles/style.css
  frontend/styles/style.css.map
  frontend/styles/style.scss
Labels: documentation, front-end

#80 Added a contextual reply-display with replied user
  app/dependencies/auth.py
  app/main.py
  app/models/models.py
  app/routes/posts.py
  app/routes/routes.md
  app/schemas/schemas.py
  frontend/frontend-scripts/main-page.js
  frontend/frontend-scripts/shared.js
  frontend/styles/profile.css
  frontend/styles/profile.css.map
  frontend/styles/style.css
  frontend/styles/style.css.map
  frontend/styles/style.scss
Labels: enhancement, controllers, front-end, server, back-end, authentication

#81 Implemented working reply-system in the client
  frontend/frontend-scripts/main-page.js
  frontend/index.html
  frontend/styles/style.css
  frontend/styles/style.css.map
  frontend/styles/style.scss
Labels: enhancement, front-end

#84 Batching
  app/config.py
  app/routes/posts.py
  app/utils/like_batcher.py
Labels: documentation, enhancement, database, back-end

#83 Frontend branch
  app/crud.py
  app/routes/posts.py
  app/routes/search.py
  app/schemas/schemas.py
  app/utils/redis_cache.py
  frontend/styles/style.css
  frontend/styles/style.css.map
  frontend/styles/style.scss
Labels: bug, front-end, back-end

#85 Implemented load balance
  docker-compose.yaml
  nginx.conf
Labels: server, back-end

#86 Logger implementation
  app/main.py
  app/models/models.py
  app/routes/logs.py
  app/routes/posts.py
  app/schemas/schemas.py
  app/utils/logger.py
Labels: server, back-end

#87 Report in progress
  documentation/image.png
  documentation/images/Exam/hashtag_crud.jpg
  documentation/images/Exam/logger_results.jpg
  documentation/images/Exam/post_model.jpg
  documentation/report_assignment_2.md
Labels: documentation

#88 Better posting, session-based welcome message, requirements-cleanup
  app/main.py
  frontend/frontend-scripts/main-page.js
  requirements-full.txt
  requirements.txt
Labels: documentation, enhancement, front-end, authentication

#89 Docker-compose fix
  docker-compose.yaml
Labels: server, back-end

#91 Like batcher updated
  app/utils/like_batcher.py
Labels: server, back-end

#92 Removed load-balancing due to issues, login-rework
  app/main.py
  app/render.yaml.bak
  app/routes/auth_routes.py
  app/routes/posts.py
  docker-compose.yaml
  frontend/frontend-scripts/main-page.js
  frontend/frontend-scripts/profile.js
  frontend/frontend-scripts/search_results.js
  frontend/frontend-scripts/shared.js
  nginx.conf
  nginx.conf.bak
Labels: front-end, server, back-end, authentication

#93 Documentation branch
  documentation/image.png
  documentation/images/Exam/nginx_balancer.jpg
  documentation/images/Exam/session_cookie.jpg
  documentation/progress-notes.md
  documentation/report_assignment_2.md
  documentation/report_assignment_2.pdf
Labels: documentation
